# Common
**/.zsh_sessions/
**/nvim/lazy-lock.json
**/lazy-lock.json

# Nix OS


# Mac OS
.DS_Store
**/.zsh_history
**/lazy-lock.json
./macos/nvim/lazy-lock.json


# Windows
*.Identifier
**/gh/
**/errors.log
/windows/.glzr/zebar/tmp-*/
**/tacky-borders.log
windows/glzr/zebar/tmp*/



# WSL
**/.zcompdump


.DS_Store

# Emacs temporary files
*~
\#*\#
.\#*
*.elc
auto-save-list
tramp
.\#*

# Emacs backup files
*~
*.bak

# Emacs session files
.session
session.*

# Emacs auto-save files
\#*\#

# Emacs lock files
.#*

# Org-mode
*.org~
.org-id-locations
*_archive

