# Common
**/.zsh_sessions/
**/nvim/lazy-lock.json
**/lazy-lock.json

# Nix OS


# Mac OS
.DS_Store
**/.zsh_history
**/lazy-lock.json
./macos/nvim/lazy-lock.json


# Windows
*.Identifier
**/gh/
**/errors.log
/windows/.glzr/zebar/tmp-*/
**/tacky-borders.log
windows/glzr/zebar/tmp*/



# WSL
**/.zcompdump
