// This is the layout for rust-programming
layout {
    pane split_direction="vertical" {
      pane edit="src/main.rs"
      pane split_direction="horizontal" {
        pane command="cargo" {
            args "watch -x -r run"
        }
        pane command="cargo" {
            args "run"
        }
      }
    }
}

