/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

/* Rose Pine Color Palette */
:root {
    --rp-burnt: #0e0a01;

    --rp-base: #191724;
    --rp-surface: #1f1d2e;
    --rp-overlay: #26233a;
    --rp-muted: #6e6a86;
    --rp-subtle: #908caa;
    --rp-text: #e0def4;
    --rp-love: #eb6f92;
    --rp-gold: #f6c177;
    --rp-rose: #ebbcba;
    --rp-pine: #31748f;
    --rp-foam: #9ccfd8;
    --rp-iris: #c4a7e7;
    --rp-highlight-low: #21202e;
    --rp-highlight-med: #403d52;
    --rp-highlight-high: #524f67;

    --rp-moon-base: #232136;
    --rp-moon-surface: #2a273f;
    --rp-moon-overlay: #393552;
    --rp-moon-muted: #6e6a86;
    --rp-moon-subtle: #908caa;
    --rp-moon-text: #e0def4;
    --rp-moon-love: #eb6f92;
    --rp-moon-gold: #f6c177;
    --rp-moon-rose: #ea9a97;
    --rp-moon-pine: #3e8fb0;
    --rp-moon-foam: #9ccfd8;
    --rp-moon-iris: #c4a7e7;
    --rp-moon-highlight-low: #2a283e;
    --rp-moon-highlight-med: #44415a;
    --rp-moon-highlight-high: #56526e;

    --rp-dawn-base: #faf4ed;
    --rp-dawn-surface: #fffaf3;
    --rp-dawn-overlay: #f2e9e1;
    --rp-dawn-muted: #9893a5;
    --rp-dawn-subtle: #797593;
    --rp-dawn-text: #575279;
    --rp-dawn-love: #b4637a;
    --rp-dawn-gold: #ea9d34;
    --rp-dawn-rose: #d7827e;
    --rp-dawn-pine: #286983;
    --rp-dawn-foam: #56949f;
    --rp-dawn-iris: #907aa9;
    --rp-dawn-highlight-low: #f4ede8;
    --rp-dawn-highlight-med: #dfdad9;
    --rp-dawn-highlight-high: #cecacd;
}

i {
    color: rgb(115 130 175 / 95%);
    margin-right: 7px;
}

body {
    color: rgb(255 255 255 / 90%);
    font-family: "Iosevka Nerd Font";
    /* font-family: ui-monospace, monospace; */
    font-size: 14px;
    overflow: hidden;
}

html,
body,
#root {
    height: 100%;
}

.frosted-glass {
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Optional border for subtle definition */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    padding: 20px; /* Optional padding for inner content */
    color: white; /* Adjust text color for contrast */
}

#root {
    /* border: 1px solid yellow; */
    background-color: rgba(64, 61, 82, 0.35);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 100%;
    padding: 2px 1.5vw;
}

.left,
.center,
.right {
    display: flex;
    align-items: center;
}

#media {
    /* border: 1px solid red; */
    height: 14px;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Space out items evenly */
    gap: 20px; /* Add spacing between child elements */
    padding: 0px;
    border-radius: 5px;
}

.media-controls {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 0px;
}

.media-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.media-buttons {
    display: flex;
    align-items: center;
}

.media-buttons button {
    background: rgb(255 255 255 / 15%);
    color: rgb(255 255 255 / 90%);
    border-radius: 2px;
    line-height: 1;
    padding: 4px 6px;
    border: 0;
    cursor: pointer;
}


.center {
    justify-self: center;
}

.right {
    /* border: 1px solid red; */
    justify-self: end;
    min-width: 300px;
    /* margin-right: 220px; */
}

#pauseanddirection {
    /* border: 1px solid green; */
  width: 120px; /* For fixed Size */
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Align items vertically center (if needed) */
  justify-content: space-between; /* Push elements to opposite sides */
}

.binding-mode {
    margin-right: 0px; /* Add some spacing between binding-mode buttons */

    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;

    background: #eb6f92;
    color: #191724;
    border-radius: 2px;
    line-height: 1;
    padding: 4px 8px;
    border: 0;
    cursor: pointer;
}

.tiling-direction {
    margin-left: auto; /* Push the tiling-direction button to the far right */
    background: rgb(255 255 255 / 15%);
    color: rgb(255 255 255 / 90%);
    border-radius: 2px;
    line-height: 1;
    padding: 4px 6px;
    border: 0;
    cursor: pointer;
}


.workspaces {
    display: flex;
    align-items: center;
}

.workspace {
    background: var(--rp-overlay);
    margin-right: 8px;
    padding: 4px 8px;
    color: rgb(255 255 255 / 90%);
    border: none;
    border-radius: 2px;
    cursor: pointer;

    &.displayed {
        background: var(--rp-base);
    }

    
    &:hover {
        /* background: var(--rp-burnt); */
        background: #8caaee;
        color: #0e0a01;
        font-weight: bold;
    }

    &.focused {
        /* background: var(--rp-burnt); */
        background: #7287fd;
        color: #0e0a01;
        font-weight: bold;
    }

}


.cpu .high-usage {
    color: #900029;
}

.battery {
    position: relative;
}

.battery .charging-icon {
    position: absolute;
    font-size: 7px;
    left: -8px;
    top: 3px;
}

#date-time {
    margin-left: 20px;
    font-size: 16px;
}
