/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

/* Rose Pine colors */
:root {
    --rp-base: #191724;
    --rp-surface: #1f1d2e;
    --rp-overlay: #26233a;
    --rp-muted: #6e6a86;
    --rp-subtle: #908caa;
    --rp-text: #e0def4;
    --rp-love: #eb6f92;
    --rp-gold: #f6c177;
    --rp-rose: #ebbcba;
    --rp-pine: #31748f;
    --rp-foam: #9ccfd8;
    --rp-iris: #c4a7e7;
    --rp-highlight-low: #21202e;
    --rp-highlight-med: #403d52;
    --rp-highlight-high: #524f67;

    --rp-moon-base: #232136;
    --rp-moon-surface: #2a273f;
    --rp-moon-overlay: #393552;
    --rp-moon-muted: #6e6a86;
    --rp-moon-subtle: #908caa;
    --rp-moon-text: #e0def4;
    --rp-moon-love: #eb6f92;
    --rp-moon-gold: #f6c177;
    --rp-moon-rose: #ea9a97;
    --rp-moon-pine: #3e8fb0;
    --rp-moon-foam: #9ccfd8;
    --rp-moon-iris: #c4a7e7;
    --rp-moon-highlight-low: #2a283e;
    --rp-moon-highlight-med: #44415a;
    --rp-moon-highlight-high: #56526e;

    --rp-dawn-base: #faf4ed;
    --rp-dawn-surface: #fffaf3;
    --rp-dawn-overlay: #f2e9e1;
    --rp-dawn-muted: #9893a5;
    --rp-dawn-subtle: #797593;
    --rp-dawn-text: #575279;
    --rp-dawn-love: #b4637a;
    --rp-dawn-gold: #ea9d34;
    --rp-dawn-rose: #d7827e;
    --rp-dawn-pine: #286983;
    --rp-dawn-foam: #56949f;
    --rp-dawn-iris: #907aa9;
    --rp-dawn-highlight-low: #f4ede8;
    --rp-dawn-highlight-med: #dfdad9;
    --rp-dawn-highlight-high: #cecacd;
}

i {
    color: rgb(115 130 175 / 95%);
    margin-right: 7px;
}

body {
    color: rgb(255 255 255 / 90%);
    font-family: "Iosevka", monospace;
    /* font-family: ui-monospace, monospace; */
    font-size: 12px;
    overflow: hidden;
}

html,
body,
#root {
    height: 100%;
}

#root {
    border-bottom: 1px solid rgb(255 255 255 / 5%);
    background: linear-gradient(rgb(0 0 0 / 90%), rgb(5 2 20 / 85%));
}

.app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 100%;
    padding: 4px 1.5vw;
}

.left,
.center,
.right {
    display: flex;
    align-items: center;
}

.center {
    justify-self: center;
}

.right {
    justify-self: end;
}

.logo,
.binding-mode,
.tiling-direction,
.network,
.memory,
.cpu,
.battery {
    margin-right: 20px;
}

.workspaces {
    display: flex;
    align-items: center;
}

.workspace {
    background: rgb(255 255 255 / 5%);
    margin-right: 4px;
    padding: 4px 8px;
    /* padding: 0px; */
    color: rgb(255 255 255 / 90%);
    border: none;
    border-radius: 2px;
    cursor: pointer;

    &.displayed {
        background: rgb(255 255 255 / 15%);
    }

    &.focused,
    &:hover {
        background: rgb(75 115 255 / 50%);
    }
}

.binding-mode,
.tiling-direction {
    background: rgb(255 255 255 / 15%);
    color: rgb(255 255 255 / 90%);
    border-radius: 2px;
    line-height: 1;
    padding: 4px 8px;
    border: 0;
    cursor: pointer;
}

.binding-mode {
    margin-right: 4px;
}

.cpu .high-usage {
    color: #900029;
}

.battery {
    position: relative;
}

.battery .charging-icon {
    position: absolute;
    font-size: 7px;
    left: -8px;
    top: 3px;
}
