
layout {

  // https://zellij.dev/documentation/creating-a-layout#default-tab-template
  default_tab_template cwd="~" {
        children
  }

  tab name="" cwd="~" {
    pane split_direction="horizontal" {
      pane
      pane
    }
  }
}

