/* @import url("../../.cache/wal/colors-gtk3.css"); */

:root {
  /* Background Colors */
  --background: #1e1e2e; /* Placeholder for background color */
  --backgroundAlpha: #1e1e2e; /* Semi-transparent background */

  /* Foreground Colors */
  --foreground: rgb(0, 0, 0); /* Placeholder for foreground color */
  --foregroundAlpha: rgba(0, 0, 0, 0.5); /* Semi-transparent foreground */

  /* Color Variables */
  --color0: rgb(240, 248, 255); /* AliceBlue */
  --color0Alpha: rgba(240, 248, 255, 0.5);

  --color1: rgb(250, 235, 215); /* AntiqueWhite */
  --color1Alpha: rgba(250, 235, 215, 0.5);

  --color2: rgb(0, 255, 255); /* Aqua */
  --color2Alpha: rgba(0, 255, 255, 0.5);

  --color3: rgb(127, 255, 212); /* Aquamarine */
  --color3Alpha: rgba(127, 255, 212, 0.5);

  --color4: rgb(240, 255, 255); /* Azure */
  --color4Alpha: rgba(240, 255, 255, 0.5);

  --color5: rgb(245, 245, 220); /* Beige */
  --color5Alpha: rgba(245, 245, 220, 0.5);

  --color6: rgb(255, 228, 196); /* Bisque */
  --color6Alpha: rgba(255, 228, 196, 0.5);

  --color7: rgb(0, 0, 0); /* Black */
  --color7Alpha: rgba(0, 0, 0, 0.5);

  --color8: rgb(255, 235, 205); /* BlanchedAlmond */
  --color8Alpha: rgba(255, 235, 205, 0.5);

  --color9: rgb(0, 0, 255); /* Blue */
  --color9Alpha: rgba(0, 0, 255, 0.5);

  --color10: rgb(138, 43, 226); /* BlueViolet */
  --color10Alpha: rgba(138, 43, 226, 0.5);

  --color11: rgb(165, 42, 42); /* Brown */
  --color11Alpha: rgba(165, 42, 42, 0.5);

  --color12: rgb(222, 184, 135); /* BurlyWood */
  --color12Alpha: rgba(222, 184, 135, 0.5);

  --color13: rgb(95, 158, 160); /* CadetBlue */
  --color13Alpha: rgba(95, 158, 160, 0.5);

  --color14: rgb(127, 255, 0); /* Chartreuse */
  --color14Alpha: rgba(127, 255, 0, 0.5);

  --color15: rgb(210, 105, 30); /* Chocolate */
  --color15Alpha: rgba(210, 105, 30, 0.5);
}



* {
  border: none;
	font-family: 'Roboto Mono Nerd';
	font-size: 14px;
	margin: 2px;
}

/*
#window{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: normal;
    font-style: normal;
    border-radius: 100px;
}
*/

window{
	border: solid 2px;
	border-color: @color2;
	border-radius: 100px;
}

window#waybar{
	background: @color0Alpha;
    color: @foreground;
    border-radius: 100px;
}

window#waybar > box{
    border-radius: 100px;
	box-shadow: 0px 0px 0px @color0;
}

tooltip{
	background-color: @backgroundAlpha;
	color: @foreground;
	border-radius: 10px;
}

#battery, #network, #pulseaudio, #cpu, #memory, #custom-randpaper, #custom-pomodoro{
    margin: 0px 10px;
}

#workspaces {
    background: @color0Alpha;
    border-radius: 100px;
    padding: 2px;
}

#workspaces button {
    padding: 0px 5px;
    margin: 0px 5px;
    border-radius: 100px;
    color: @color16;
    background: @color0Alpha;
    transition: all 0.3s cubic-bezier(.11, 1.09, .6, .96);
}

#workspaces button.active {
	padding: 0 20px;
    background-color: @color2Alpha;
}

#workspaces button:hover {
    background-color: @color2Alpha;
}

#custom-launcher, #tray{
    background-color: @backgroundAlpha;
    border-radius: 100px;
}

#custom-launcher {
    color: @color5;
    background: @backgroundAlpha;
}

#media{
	border-radius: 100px;
	background: linear-gradient(225deg, @backgroundAlpha 50%, @color2Alpha 50%);
	background-color: @backgroundAlpha;
	color: @color6;
	font-weight: bolder;
}

#mpd, #mpris{
    margin: 0 10px;
}

#custom-notifications{
    margin: 0px 5px;
}

#general, #clock, #custom-randpaper, #custom-pomodoro
{
	background-color: @backgroundAlpha;
	border-radius: 100px;
    padding: 0px 5px;
}

#custom-pomodoro{
	background-color: @color2;
	color: white;
}

#custom-randpaper{
	color: @color6;
}
