@import url("./colors.css");


* {
  border: none;
	font-family: 'JetBrains Mono Nerd';
	font-size: 14px;
	margin: 2px;
}

/*
#window{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: normal;
    font-style: normal;
    border-radius: 100px;
}
*/

window{
  margin: 0px;
	border: none;
	border-color: @pink;
	border-radius: 100px;
}

window#waybar{
  margin: 0px;
	background: @base;
  color: @text;
  border-radius: 100px;
}

window#waybar > box{
  border-radius: 100px;
	box-shadow: 0px 0px 0px @mantle;
}

tooltip{
	background-color: @surface0;
	color: @text;
	border-radius: 10px;
}

#battery, #network, #pulseaudio, #cpu, #memory, #custom-randpaper, #custom-pomodoro{
    margin: 0px 10px;
}

#workspaces {
    background: @surface0;
    border-radius: 100px;
    padding: 2px;
}

#workspaces button {
    padding: 0px 5px;
    margin: 0px 5px;
    border-radius: 100px;
    color: @pink;
    background: @crust;
    transition: all 0.3s cubic-bezier(.11, 1.09, .6, .96);
}

#workspaces button.active {
	padding: 0 20px;
    background-color: @pink;
}

#workspaces button:hover {
    background-color: @pink;
}

#custom-launcher, #tray{
    background-color: @surface0;
    border-radius: 100px;
}

#custom-launcher {
    color: @red;
    background: @red;
}

#media{
	border-radius: 100px;
	background: linear-gradient(225deg, @surface0 50%, @base 50%);
	background-color: @base;
	color: @text;
	font-weight: bolder;
}

#mpd, #mpris{
    margin: 0 10px;
}

#custom-notifications{
    margin: 0px 5px;
}

#general, #clock, #custom-randpaper, #custom-pomodoro
{
	background-color: @base;
	border-radius: 100px;
    padding: 0px 5px;
}

#custom-pomodoro{
	background-color: @sapphire;
	color: white;
}

#custom-randpaper{
	color: @pink;
}
